footer{
    background-color: var(--primary);
    color:white;
}

footer .h5 span{
    color:white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

footer .h5 span:hover{
    color:var(--secondary);
}


@media (min-width: 768px) {
    footer .h5{
        font-size:1.3rem;
    }
    footer .h4{
        font-size:1.4rem;
    }
  }
  
  @media (max-width: 768px) {
    footer .h5{
        font-size: 1rem;
    }
    footer .h4{
        font-size: 1.1rem;
    }
  }
  